				<div class="published autopagerize_page_element">
					<span class="day"><%= @entry.published.strftime("%Y-%m-%d") %></span>
					posted at <%= @entry.published.strftime("%I:%M%p").sub(/^0/, '').downcase %>
				</div>
				<div class="entry">
					<h2><%= @entry.title %></h2>
					<div>
						<%= @entry.html %>
					</div>
					<p class="meta">
						<a href="<%= @entry.url %>">permalink</a>
					</p>
				</div>
