- @entries.each do |entry|
  %div.published.autopagerize_page_element
    %span.day= entry.published.strftime('%Y-%m-%d')
    posted at #{entry.published.strftime("%I:%M%p").sub(/^0/, '').downcase}
  %div.entry.autopagerize_page_element
    %h2
      %a(href="#{entry.url}")= entry.title
    %div
      !~ entry.content
    - if entry.tags.any?
      %p.meta
        filed in
        - entry.tags.each do |tag|
          %a(href="#{@config.url}/tag/#{tag}" rel="tag")= tag
- if @pages > 1
  %ul.page
    - if @page == 2
      %li
        %a(href="#{@config.url}/" rel="prev") &#171; Newer
    - if @page > 2
      %li
        %a(href="#{@config.url}/page/#{@page-1}" rel="prev") &#171; Newer
    - if @page < @pages
      %li
        %a(href="#{@config.url}/page/#{@page+1}" rel="next") Older &#187;
