			<% @entries.each do |entry| %>
				<div class="published autopagerize_page_element">
					<span class="day"><%= entry.published.strftime("%Y-%m-%d") %></span>
					posted at <%= entry.published.strftime("%I:%M%p").sub(/^0/, '').downcase %>
				</div>
				<div class="entry autopagerize_page_element">
					<h2><%= entry.title %></h2>
					<div>
						<%= entry.html %>
					</div>
					<p class="meta">
						<a href="<%= entry.url %>">permalink</a>
					</p>
				</div>
			<% end %>
			<% if @pages > 1 %>
				<ul class="page">
				<% if @page == 2 %>
					<li><a href="/" rel="prev">&#171; Newer</a></li>
				<% elsif @page > 2 %>
					<li><a href="/page/<%= @page - 1 %>" rel="prev">&#171; Newer</a></li>
				<% end %>
				<% if @page < @pages %>
					<li><a href="/page/<%= @page + 1 %>" rel="next">Older &#187;</a></li>
				<% end %>
				</ul>
			<% end %>
